<link href="/plugins/sentence-embedding/resource/index.css" rel="stylesheet" type="text/css">

<div ng-controller="modelDownloaderController" >

  
<form class="dku-form-horizontal">
    
    <div class="control-group" ng-show="showLanguageList">
        <label class="control-label">Language</label>
        <div class="controls">
            <select dku-bs-select
                    ng-model="config.language"
                    ng-options="l for l in languages"
                    ng-change="getModels()"
                    >
                <option style="display:none" value="">Select a language</option>    
            </select>
            <span ng-hide="config.language" class="error-message">Please select a language</span>     
        </div>     
    </div>  
    
    <div class="control-group" ng-show="showModelList">
        <label class="control-label">Model</label>
        <div class="controls">
          <select dku-bs-select
                  ng-model="config.modelName"
                  ng-options="m for m in models"
                  ng-change="getTransformerModelVersions()"
                  >
                <option style="display:none" value="">Select a model</option>
              
          </select>
          <span ng-hide="config.modelName" class="error-message">Please select a model</span> 
        </div>
        
    </div> 
        
    <div class="control-group" ng-show="showTransformersModelversion">
        <label class="control-label">Model version</label>
        <div class="controls">
            <select dku-bs-select
                    ng-model="config.transformersModelVersion"
                    ng-options="m for m in transformersModelVersions"
                    option style="display:none" value="">Select a version</option>>
                
            </select>
            <span ng-hide="config.transformersModelVersion" class="error-message">Please select a model version</span> 
        </div>
        
    </div>
    

    <div class="control-group" ng-show="showOutputFolder">
        <label class="control-label">Output folder</label>
        <div class="controls">
            <input  type="text"
                  ng-model="config.outputFolder"
                  >
                  <span ng-hide="config.outputFolder" class="error-message">Please define an output Folder. If the folder doesn't exist, it will be automatically created.</span>   
            </div>
        
    </div>
     
 </form>
     
 </div>  